@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
}

::selection {
  background-color: #F2E2C4;
  color: #4A4A48;
}
